<footer>
    <div class="div1">
        <!-- <p>© 2023 Foodie. All rights reserved.</p> -->
        <h1>About Our Food</h1>
        <p>Fresh ingredients,</p>
        <p>cooked with love.</p>
    </div>
    <div class="div2">
        <h1>Location</h1>
        <p>123 Main Street, Foodville</p>
        <p>Open: Mon-Sun, 10am-10pm</p>
    </div>
    <div class="div3">
        <h1>Contact</h1>
        <p>(123) 456 -7890</p>
        <p>hello&#64;restaurant.com</p>
    </div>
    <div class="div4">
        <h1>Socials</h1>
        <div class="icons"><i class="fa-brands fa-facebook-f"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-x-twitter"></i></div>
    </div>
</footer>
