.card{
    border: 1px solid #C4A69F;
    width: fit-content;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #F9F0DD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        width: 310px;
    }

    .main{
        .x{
            padding-left: 5px;
            padding-bottom: 5px;
        }
        .price{
            padding-left: 75%;
            width: 100%;
        }
    }


}