<main>
  <div class="filters">
    <div class="search">
      <input
        [(ngModel)]="searchValue"
        (ngModelChange)="search()"
        type="text"
        id="search"
        name="search"
        placeholder="Search..."
      />
    </div>


    <input id="openFilter" type="checkbox">
    <label class="openFilter" for="openFilter">Filters</label>

    <div class="divHide">
      <div class="veg">
        <input
          class="yescheck"
          type="radio"
          id="veg-yes"
          name="veg"
          value="true"
          [(ngModel)]="vegPreference"
        />
        <label class="vegyes" for="veg-yes">Vegetarian</label>

        <input
          class="nocheck"
          type="radio"
          id="veg-no"
          name="veg"
          value="false"
          [(ngModel)]="vegPreference"
        />
        <label class="noveg" for="veg-no">Not Vegetarian</label>
      </div>
      <div class="nuts">
        <input
          class="nutsyes"
          type="radio"
          id="nuts-yes"
          name="nuts"
          value="true"
          [(ngModel)]="nutsPreference"
        />
        <label class="nutsYesCheck" for="nuts-yes">With Nuts</label>

        <input
          class="nutsno"
          type="radio"
          id="nuts-no"
          name="nuts"
          value="false"
          [(ngModel)]="nutsPreference"
        />
        <label class="nutsNoCheck" for="nuts-no">Without Nuts</label>
      </div>
      <div class="category">
        <label for="category">Category</label>
        <select id="category" name="category" [(ngModel)]="category">
          <option value="1">Salads</option>
          <option value="2">Soups</option>
          <option value="3">Chicken-Dishes</option>
          <option value="4">Beef-Dishes</option>
          <option value="5">Seafood-Dishes</option>
          <option value="6">Vegetable-Dishes</option>
          <option value="7">Bits&Bites</option>
          <option value="8">On-The-Side</option>
        </select>
      </div>
      <div class="spice">
        <input
          type="number"
          id="spice"
          name="spice"
          placeholder="Spiciness..."
          [(ngModel)]="spiceLevel"
        />
        <label for="spice">How Spicy?</label>
      </div>

      <button (click)="filterData()">Filter</button>
    </div>

  </div>

  <div class="cards">
    <app-card *ngFor="let el of dishesArray" [el]="el"></app-card>
  </div>
</main>
